head
  title Wishbar
body
  +main

template(name='main')
  .form
    .input-group.margin-bottom-sm
      | I wish this page
      input(placeholder="had better graphics")
      if showButton
        button.input-group-addon.btn
          i.fa.fa-paper-plane
  .form-wrapper.invitation-form
    | Sent!
    a(href="http://wishpool.meteor.com" target="_blank") Get this widget
    | for your site :)




