head
  title Wishpool widget
body
  +index

template(name="index")
  style
    | {{style.css}}
  form
    .input-group
      if style.label
        label.wishpool-label(for="text").input-group-addon {{style.label}}&nbsp;
      input.wishpool-input.simplebox.form-control(id="text" name="text" autocomplete="off" placeholder="{{style.placeholder}}")
      span.input-group-btn
        button.btn.btn-success(type="submit")
          i.fa.fa-check
  .form-wrapper.invitation-form(style="display: none;")
    | Sent!
    a(href="http://wishpool.meteor.com" target="_blank") Get this widget
    | for your site :)




