head
  title Wishpool widget
body
  if share.widgetSubscription.ready
    +index

template(name="index")
  style
    | {{widget.css}}
  form
    .fake.input-group
      .placeholder.simplebox.form-control
        span.invisible {{widget.label}}
        span(class="{{#if changed}}hidden{{/if}}") {{widget.placeholder}}
      span.input-group-btn
        button.btn.btn-success(type="submit")
          i.fa.fa-check
    .real.input-group
      input.wishpool-input.simplebox.form-control(id="text" name="text" autocomplete="off" value="{{widget.label}} ")
      span.input-group-btn
        button.btn.btn-success(type="submit")
          i.fa.fa-check
  .success.simplebox.form-control(style="display: none;")
    | Sent!
    a(href="{{Settings.public.masterUrl}}" target="_blank") Get this widget
    | for your site :)




