body
  background: none transparent;

a, a:active, a:hover
  text-decoration underline

form
  position relative

.input-group
  position: absolute;
  overflow hidden

.real.input-group
  input
    background none transparent
  .input-group-btn
    z-index 100 

.placeholder
  color #999999
  white-space nowrap

.simplebox, .simplebox:focus
  border: 1px solid #ccc;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;

.success
  border 1px solid transparent