body
  background: none transparent;

a, a:active, a:hover
  text-decoration underline

form
  position relative

.input-group
  position: absolute;

.real.input-group
  input
    background none transparent

.placeholder
  color #999999

.simplebox, .simplebox:focus
  border: 1px solid #ccc;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;

.success
  border 1px solid transparent
