.wishpool-label
  background-color #ffffff
  padding-right 0

.wishpool-input
  border-left 0
  padding-left 0

.simplebox, .simplebox:focus
  border: 1px solid #ccc;
  border-left 0
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
